<%= form_for(@link, :remote => true, :html => {'data-type' => 'json'} ) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %>
    <%= f.url_field :url %>
  </div>
  <div class="actions">
    <%= f.submit :value=>'Acortar'%>
  </div>
<% end %>
